header{
    display:flex;
    flex-direction: row;
    padding: 20px 50px 20px 50px;
    justify-content: space-between;
}

.nav-items{
    display: flex;
    flex-direction: row;
    gap: 80px;
    align-items: center;
}
.nav-item>a{
    color: white;
    text-decoration: none;
    transition: all 0.3s;
    font-size: 20px;
    font-weight: 500;
}
.nav-item>a.active, .nav-item>a.active:hover{
    color: #F0B665;
}

.social-media-icons{
    display:flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    margin-right: 50px;
}
.social-media-icon{
    padding: 14px;
    border: 2px solid #F4F5F4;
    border-radius: 8px;
}