*{
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a{
    text-decoration: none;
}
body{
    background-image: url('../images/background blured.jpg');
    background-repeat: no-repeat;
    background-size: cover; 
    filter: blur(0px);
}


.logo{
    font-size: 40px;
    font-weight: 600;
    display: flex;
    flex-direction:row;
}
.logo:hover{
    cursor:pointer;
}

.last-logo-text{
    color:rgb(233,227,226);
}
.first-logo-text{
    color:white;
}

/* Search bar  */

.searchbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
}
.search-filters{
    display: flex;
    flex-direction: row;
    /* gap: 10px; */
    justify-content:center;
    align-items:center;
    height: 100%;

    position: relative;
}
.search-input{
    display: flex;
    align-items:center;
    height: 100%;
    margin: 0px 10px 0px 10px;
}
.search-input>input{
    height: 100%;
    border:none;
    padding:5px 5px 5px 25px;
    background-color:rgba(0,0,0,0.05);
    border-radius: 10px;
    font-size: 20px;
    font-weight: 400;
}
.search-filter{
    /* padding:10px; */
    padding: 0px 10px 0px 10px;
    font-size: 20px;
    font-weight: 400;
    height: 100%;
    display: flex;
    align-items: center;
    /* border-left: 2px solid black; */
    border-right: 2px solid black;
}
.search-filter:nth-child(2){
    /* border-left: 2px solid black; */
    border-right: none;
}
.search-filter:hover{
    cursor: pointer;
    border-radius: 10px;
    background-color:rgba(0,0,0,0.05);
}
.search-icon:hover{
    cursor: pointer;
}
.search-filter-inputs-container{
    height: 300px;
    overflow: auto;
    position: absolute;
    bottom: 42px;
    right: -20px;
    width: 185px;
    background: white;
    padding: 10px 5px 5px 20px;
    border-radius: 10px;
}
.search-live-input{
    position: relative;
}
.search-live{
    max-height: 300px;
    overflow: auto;
    position: absolute;
    bottom: 42px;
    left: 7px;
    width: 510px;
    background: white;
    padding: 10px 5px 5px 20px;
    border-radius: 10px;
}

.search-result{
    display: flex;
    flex-direction: row;
    height: 25px;
}
.search-result-title{
    font-weight: 500;
}
.search-result-instruction{
    font-weight: 300;

    overflow : hidden;
}
.search-result{
    cursor: pointer;
}
.search-result-card{
    width: 300px;
    min-height: 400px;
    border-radius: 20px;
    background-color: white;
}
.search-result-thumbnail>img{
    border-radius: 20px 20px 0px 0px;
}

.category-tag{
    border-radius: 20px;
    color: white;
    font-weight: 400;
    text-align: center;
    width: 130px;
    background-color: rgb(67, 146, 67);
    border: 2px solid rgb(113, 216, 113);
}
.category-tag:hover{
    cursor: pointer;
}
.area-tag{
    border-radius: 20px;
    color: white;
    font-weight: 400;
    text-align: center;
    width: 130px;
    background-color: rgb(40, 105, 97);
    border: 2px solid rgb(101, 213, 228);
}
.area-tag:hover{
    cursor: pointer;
}
.search-results{
    justify-content:center;
    display: flex;  
    flex-wrap: wrap;
    gap:50px;
}
.search-result-category{
    display: flex;
    justify-content:space-between;
    gap: 10px;
}
.search-result-area{
    display: flex;
    justify-content:space-between;
    gap: 10px;
}
.search-result-description{
    padding: 20px;
}
.search-result-meal-description{
    overflow: hidden; 
    max-height: 200px;
    white-space: nowrap;
    position: relative;
}
.continue-reading{
    color: blue;
    position: absolute;
    right: 0;
    top: 0;
    background-color:white;
}
.continue-reading:hover{
    cursor: pointer;
    color: rgb(27, 110, 110);
}
.heart-rect, .search-result-thumbnail, .search-result-meal-title{
    cursor: pointer;	
}


footer{
    background:rgba(255, 166, 0, 0.514);
    height:50px;
    text-align: center;
    display: flex;
    align-items: center;
    width: 100%;
    margin-top:30px;
    box-shadow: 0 0 5px 10px rgba(255, 166, 0, 0.514);
}
.copyright{
    width: 100%;
    color: black;
    font-weight: 600;
    font-size: 15px;

}