*{
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    /* background-color: cadetblue; */
}


.logo{
    font-size: 40px;
    display: flex;
    flex-direction:row;
}
.last-logo-text{
    color:rgb(233,227,226);
}
.first-logo-text{
    color:black;
}